/* BEGIN Black Italic */
@font-face {
	font-family: "Merriweather";
	@include fontdef($FontPath, $FontName, $FontVersion, "black-italic");
	font-weight: 900;
	font-style: italic;
}
/* END Black Italic */
