/* BEGIN Bold Italic */
@font-face {
	font-family: "Merriweather";
	@include fontdef($FontPath, $FontName, $FontVersion, "bold-italic");
	font-weight: 700;
	font-style: italic;
}
/* END Bold Italic */
